<h2><%= @doctor.name %></h2>

<p><%= "Specialty: #{@doctor.specialty}" %></p>
<p><%= "University: #{@doctor.university}" %></p>
<p><%= "Hospital: #{@doctor.hospital.name}" %></p>
<p><%= "Patients:" %></p>
<% @doctor.patients.each do |patient| %>
  <%= patient.name %> <%= button_to "Remove #{patient.name} from #{@doctor.name}", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
<% end %>