<h2><u><%= "Dr. #{@doctor.name}" %></u></h2>
<p><u>Speciality</u>: <%= @doctor.specialty %></p>
<p><u>University</u>: <%= @doctor.university %></p>
<p><u>Hospital</u>: <%= @doctor.hospital.name %></p>

<p><u>List of Patients</u>:</p>
<% @doctor.patients.each do |patient| %>
  <li>
    <%= patient.name %>
  </li>
<% end %>