<h2><%= @doctor.name %></h2>
<h3>Specialty: <%= @doctor.specialty %>
<br>University: <%= @doctor.university %>
<br>Hospital: <%= @doctor.hospital.name %></h3>

<h3>Patients:</h3>
<ul>
  <% @doctor.patients.each do |p| %>
    <div id="patient-<%= p.id %>">
      <li><%= p.name %> <%= button_to "Remove", patient_path(p, doctor_id: @doctor.id), method: :delete%></li>
    </div>
    <br>
  <% end %>
</ul>
