<html>
<head>
    <style>
        .remove-button {
            display: flex;
        }
        .button-left-margin {
          margin-left: 10px
        }
    </style>
</head>

<body>
<h2><u><%= "Dr. #{@doctor.name}" %></u></h2>
<p><u><strong>Speciality</strong></u>: <%= @doctor.specialty %></p>
<p><u><strong>University</strong></u>: <%= @doctor.university %></p>
<p><u><strong>Hospital</strong></u>: <%= @doctor.hospital.name %></p><br>

<p><u><strong>List of Patients</strong></u></p>
<% @doctor.patients.each do |patient| %>
  <section id="patient-<%= patient.id %>">
      <div class="remove-button">
        <%= patient.name %>
      <div class="button-left-margin">
        <%= button_to "Remove", "/doctors/#{@doctor.id}/doctor_patients/#{patient.id}", method: :delete %>
      </div>
      </div>
  </section>
<% end %>
</body>