<h2>Name: <%= @doc.name %></h2>
<h2>Specialty: <%= @doc.specialty %></h2>
<h2>University: <%= @doc.university %></h2>
<h2>Hospital: <%= @doc.hospital.name %></h2>

<h3>Patients</h3>
<% @doc.patients.each do | patient | %>
  <div id="patient-<%= patient.id %>" style="display: inline-block">
    <p><%= patient.name %></p>
    <p><%= button_to "Remove", doctor_patient_path(@doc, patient), method: :delete %></p>
  </div>
<% end %>
